AkenoHimejimabot/config.py
AkenoHimejimabot/*.session
AkenoHimejimabot/*.session-journal
AkenoHimejimabot/config.ini
log.txt
*.pyc
.idea/
.project
.pydevproject
.directory
.vscode
AkenoHimejimabot/modules/helper_funcs/temp.txt
AkenoHimejimabot/elevated_users.json
start-3.6.bat
*.session
kangsticker.png
venv
env
akeno.session-journal
updates.txt
*.exe
